{% extends 'base/base.html' %}
{% block page_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/machines/machine_main.css' %}">
    <section class="get-machine">
        <div class="create">
            <h1>Current Machines</h1>
            <a class="create-machine" href="{% url 'create machine' %}">Create Machine</a>
        </div>
        <div class="machine-list" role="list">
            {% for machine in object_list %}
                <div class="machine-items">
                    <a href="{% url 'machine details' pk=machine.pk %}">{{ machine.machine_name }}</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}