<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_css/base_css.css' %}">
    <title>Manufacture Control</title>
</head>
<body>
    <header>
        <nav>
            <a class="header_a" href="{% url 'index' %}">Company Logo</a>

            <ul role="list" class="control">
                <li><a class="company_a" href="{% url 'get machines' %}">Machines</a></li>
                <li><a class="company_a" href="{% url 'get tools' %}">Tools</a></li>
                <li><a class="company_a" href="{% url 'get operations' %}">Operations</a></li>
                <li><a class="company_a" href="#">Parts Order</a></li>
            </ul>

            <ul class="user" role="list">
            {% if request.user.is_authenticated %}
                <li class="last_li"><a class="company_a" href="{% url 'account details' pk=request.user.pk %}">{{ user.username }}</a></li>
                <li class="last_li"><a class="company_a" href="{% url 'account logout' %}">Log Out</a></li>
            {% else %}
                <li class="last_li"><a class="company_a" href="{% url 'account login' %}">Sign In</a></li>
                <li class="last_li"><a class="company_a" href="{% url 'account register' %}">Register</a></li>
            {% endif %}
        </ul>
        </nav>
    </header>
    <main>
        {% block page_content %}

        {% endblock %}
    </main>
</body>
</html>